venv/
v1env/
.env
.env.*
__pycache__/
*.py[cod]
dist/
build/
*.egg-info/
.idea/
.vscode/ 
.streamlit/secrets.toml
glass-indexer-459318-u9-5cc908a1c78d.json
*.json
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Streamlit
.streamlit/secrets.toml

# OS specific
.DS_Store
.env